.logo {
    display: flex;
    justify-content: left;
    align-items: center;
}

.principal{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
}

.input-texto {
    border-radius: 10px;
    font-size: 20px;
}

.mensaje {
    position: relative;
    margin-left: 80px;
    background-image: url("IMAGENES/Muñeco.png");
    background-repeat: no-repeat;
    background-position: 18px;
    background-size: 200px;
    border-radius: 10px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.copiar {
    font-size: 20px;
    display: flex;
    position: center;
    margin-top: 28px;
    margin-left: 160px;
    background-color: darkblue;
    color: white;
    border-radius: 5px;
    font-weight: bold;

    
}

.botones {
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
   
}

.encriptar {   
    background-color: darkblue;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
}

.desencriptar {
    margin-left: 30px;
    background-color: darkblue;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
}


.mensaje {
    font-size: 20px;
    margin-top: 0px;
}